.header {
  /*background: rgb(244,91,105);*/
  /*background: linear-gradient(90deg, rgba(244,91,105,1) 0%, rgba(238,99,82,1) 100%);*/
  background: rgb(239,45,86);
  background: linear-gradient(45deg, rgba(239,45,86,1) 0%, rgba(248,90,62,1) 100%);
  height: 950px;
  padding: 0px;
  margin: 0px;
  position: none;
  z-index: 0;
}

.header_text_box {
  float: left;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  margin-top: 25%;
}

.slogan_header {
  font-size: 42px;
  font-weight: 3000;
  color: #FFFFFF;
  padding-bottom: 0px;
  margin-bottom: 15px;
  float: left;
}


.header_art img {
  position: absolute;
  width: 100%;
  height: 900px;
  padding: 0px;
  margin: 0px;
}


.header_iphone_mosaic img {
  position: relative;
  z-index: 1;
  float: right;
  width: 800px;
  padding: 0px;
  margin-top: -250px;
}

.CTA_contact_button {
  position: relative;
  z-index: 5;
}

.navbar {
  position: relative;
  z-index: 4;
}

#ideavo_logo {
  position: relative;
  z-index: 6;
}
